/* FONTS */
@font-face {
    font-family: 'TT Lakes';
    src: url('../fonts/TTLakes-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TTLakes-Regular.woff') format('woff'),
        url('../fonts/TTLakes-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes';
    src: url('../fonts/TTLakes-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TTLakes-Bold.woff') format('woff'),
        url('../fonts/TTLakes-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

/* GLOBAL PARAMETERS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
   
}

.brands__container {    
    width: 100%;height: 1000px;
    background-color: #F8F8F8;

}
/* SWIPER */
.swiper {
    max-width: 100%;
    width: 100%;
    height: auto;
}

/* Swiper title */
.swiper__title__container {
    padding: 16px;
    width: 100%;
    height: 80px;

    display: flex;
    align-items: center;
    background: linear-gradient(270deg, #F8F8F8 0%, #FFFFFF 98.61%);
}

.swiper__title--text {
    font-family: 'TT Lakes', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    text-transform: uppercase;  
}


/* Swiper slide box */
.swiper-wrapper {
  padding: 16px;
  max-height: 200px;
  overflow: hidden;
  transition: max-height 0.5s ease;
  display: flex;
  gap: 16px;
}

.swiper-slide {
    width: auto;
    height: 72px;

}

/* Swiper pagination */
.swiper-pagination {
    position: relative;
    padding: 16px;
}
.swiper-pagination-bullet-active {
    background-color: gray;   
}


.toggle--btn {
    width: 134px;
    height: 24px;
    font-family: 'TT Lakes', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    background-color: transparent;
    border: none;
    margin-left: 24px;
    gap: 8px;
    align-items: center;
}


@media (max-width: 767px) {
  .swiper-wrapper {
    display: flex;
    max-height: none;
    overflow: visible;
  }
}
@media (min-width: 768px) {

  .swiper-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    margin-left: 16px;

    max-height: 175px;
    overflow: hidden;
    transition: max-height 0.4s ease;
  }

  .swiper-wrapper.is-open {
    max-height: none;
  }

  .swiper-pagination {
    display: none;
  }

  .toggle--btn {
    display: flex;
  }
}

/* DESKTOP */
@media (min-width: 1120px) {
  .swiper-wrapper {
    grid-template-columns: repeat(4, 1fr);
  }
}