/* FONTS */
@font-face {
    font-family: 'TT Lakes';
    src: url('../fonts/TTLakes-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TTLakes-Regular.woff') format('woff'),
        url('../fonts/TTLakes-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes';
    src: url('../fonts/TTLakes-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TTLakes-Bold.woff') format('woff'),
        url('../fonts/TTLakes-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

/* GLOBAL PARAMETERS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
   
}

body {
  margin: 16px;
  font-family: 'TT Lakes', sans-serif;
  background-color: #f8f8f8;
}

.services__swiper--title {
margin: 16px;
font-weight: 400;
font-size: 16px;
line-height: 24px;
letter-spacing: -0.2px;
text-transform: uppercase;
color: #7E7E82;

}

.services__table {
  width: 100%;
  background-color: white;
  table-layout: fixed;
  
  text-align: justify;
}

thead th:nth-child(1) {
  width: 45%;
}

thead th:nth-child(2) {
  width: 20%;
}

thead th:nth-child(1) {
  width: 15%;
}

thead th:nth-child(1) {
  width: 20%;
}

.services-swiper {
  display: none;
}

.services__label {
  margin: 16px 0 0 16px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -0.2px;
  color: #7E7E82;
  
}

.services__value {
  margin-left: 16px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -0.2px;
  color: #1B1C21;
}

.services__table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  border-radius: 8px; 
}
.services__table td,
.services__table th {
  border-bottom: 3px solid #e6e3e3;
}

.service_order {
  margin: 16px;
  background: none;
  border: none;

}

.services__row {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 8px;
  padding: 16px;
}
.services__period-block {
  display: flex;
  justify-content: space-between;
  align-items: flex-end; 
}

.services__cell {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.swiper-slide {
  width: 270px;
  height: 200px;
  margin-bottom: 50px;
}

@media (max-width: 767px) {
  .services__table {
    display: none;
  }

  .services-swiper {
    display: block;
  }
}
@media (min-width: 768px) {


.services__table th {
 padding: 24px;
 position: relative;
}

.services__table td {
  padding: 0 24px;
  position: relative;
}
.services__label {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -0.2px;
  color: #7E7E82;
  
}

.services__value {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -0.2px;
  color: #1B1C21;
}

}