/* FONTS */
@font-face {
    font-family: 'TT Lakes';
    src: url('../fonts/TTLakes-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TTLakes-Regular.woff') format('woff'),
        url('../fonts/TTLakes-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes';
    src: url('../fonts/TTLakes-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TTLakes-Bold.woff') format('woff'),
        url('../fonts/TTLakes-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

/* GLOBAL PARAMETERS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.brands__container {    
    width: 100%;
    height: 100vh;
    background-color: #F8F8F8;
}
/* SWIPER */
.swiper {
    max-width: 100%;
    width: 100%;
    height: auto;
}

/* Swiper title */
.swiper__title__container {
    padding: 16px;
    width: 100%;
    height: 80px;

    display: flex;
    align-items: center;
    background: linear-gradient(270deg, #F8F8F8 0%, #FFFFFF 98.61%);
}

.swiper__title--text {
    font-family: 'TT Lakes', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    text-transform: uppercase;  
}


/* Swiper slide box */
.swiper-wrapper {
    padding: 16px;
}

.swiper-slide {
    width: auto;
    height: 72px;
}

/* Swiper pagination */
.swiper-pagination {
    position: relative;
    padding: 16px;
}
.swiper-pagination-bullet-active {
    background-color: gray;   
}


/* BRANDS DESKTOP */
.brands__desktop {
    max-width: 100%;
    width: 100%;
    padding: 24px;
}
.brands__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    max-height: 200px;
    overflow: hidden;
    transition: max-height 0.5s ease;
}

.brands__grid.full__grid {
    max-height:fit-content;
    margin-bottom: 24px;

}

.toggle--btn {
    width: 134px;
    height: 24px;
    font-family: 'TT Lakes', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    background-color: transparent;
    border: none;
    
    display: flex;
    gap: 8px;
    align-items: center;
}

/* RESPONSIVE */

/* Mobile */
@media (max-width: 767px) {
    .brands__desktop {
        display: none;
    }
}

/* Tablet */
@media ( min-width:768px) {
    .swiper-wrapper,
    .swiper-pagination {
        display: none;
    }

    .toggle--btn {
        display: flex;
    }
}

/* Desktop */
@media (min-width:1120px) {
    .swiper-wrapper,
    .swiper-pagination {
        display: none;
    }

    .toggle--btn {
        display: flex;
    }

    .brands__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
    max-height: 200px;
    overflow: hidden;
    transition: max-height 0.5s ease;
    }

.brands__grid.full__grid {
    max-height:fit-content;
    margin-bottom: 24px;

}
}
