/* FONTS */
@font-face {
    font-family: 'TT Lakes';
    src: url('../fonts/TTLakes-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TTLakes-Regular.woff') format('woff'),
        url('../fonts/TTLakes-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes';
    src: url('../fonts/TTLakes-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TTLakes-Bold.woff') format('woff'),
        url('../fonts/TTLakes-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

/* GLOBAL PARAMETERS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
   
}

html {
  
  font-family: 'TT Lakes', sans-serif;
  background-color: #f8f8f8;
}

/* Swiper container */
.swiper__title--text {
padding: 16px;
font-weight: 400;
font-size: 16px;
line-height: 24px;
letter-spacing: -0.2px;
text-transform: uppercase;
color: #7E7E82;
background-color: white;
}
.swiper-wrapper {
 
}
.swiper-slide {
  margin: 16px;
  padding: 16px;
  width: 270px;
  height: 200px;
  background-color: white;
  border-radius: 8px;
  margin-bottom: 50px;
}

.services-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.services__swiper-label span,
.services__swiper-price span,
.services__swiper-period span
 {
  display: block;
}

.services__swiper-period {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.services-label {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0px;
  color: #7E7E82;

}

.services-value {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.2px;
}

.services--btn {
  background: none;
  border: none;

}





 /* Grid container */
.services__table-title {

padding: 16px;
font-weight: 400;
font-size: 16px;
line-height: 24px;
letter-spacing: -0.2px;
text-transform: uppercase;
color: #7E7E82;
background-color: white;
}

.services__table {
  width: 100%;
  background-color: white;
  table-layout: fixed;
  text-align: justify;
  border-collapse: collapse;
  border-radius: 8px; 
}

.services__table-label {
  margin: 16px 0 0 16px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -0.2px;
  color: #7E7E82; 
}

.services__table-value {
  margin-left: 16px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -0.2px;
  color: #1B1C21;
}

.services__table td,
.services__table th {
  border-bottom: 3px solid #e6e3e3;
}

.service_order {
  margin: 16px;
  background: none;
  border: none;
}


@media (max-width: 767px) {
  .services__table {
    display: none;
  }

  .services-swiper {
    display: block;
  }

  .services__table-container {
    display: none;
  }
}


@media (min-width: 768px) {

.swiper {
  display: none;
}
.services__table th {
 padding: 24px;
 position: relative;
}

.services__table td {
  padding: 0 24px;
  position: relative;
}
.services__label {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -0.2px;
  color: #7E7E82;
  
}

.services__value {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -0.2px;
  color: #1B1C21;
}

}