/* FONTS */
@font-face {
    font-family: 'TT Lakes';
    src: url('../fonts/TTLakes-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TTLakes-Regular.woff') format('woff'),
        url('../fonts/TTLakes-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes';
    src: url('../fonts/TTLakes-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TTLakes-Bold.woff') format('woff'),
        url('../fonts/TTLakes-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

/* GLOBAL PARAMETERS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.brands__container {
    max-width: 768px;
    width: 100%;
    height: 100vh;
    background-color: #F8F8F8;
}
/* SWIPER */
.swiper {
    max-width: 100%;
    width: 100%;
    height: auto;
}

/* Swiper title */
.swiper__title__container {
    padding: 16px;
    width: 100%;
    height: 80px;

    display: flex;
    align-items: center;
    background: linear-gradient(270deg, #F8F8F8 0%, #FFFFFF 98.61%);
;
}

.swiper__title--text {
    font-family: 'TT Lakes', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    text-transform: uppercase;  
}


/* Swiper slide box */
.swiper-wrapper {
    padding: 16px;
}

.swiper-slide {
    width: auto;
    height: 72px;
   
}

/* Swiper pagination */
.swiper-pagination {
    position: relative;
    padding: 16px;

}

.swiper-pagination-bullet-active {
    background-color: gray !important;
    
}

.swiper-wrapper.hidden .swiper-slide:nth-child(n+7) {
  display: none;
}

.toggle--btn {
    width: 134px;
    height: 24px;
    font-family: 'TT Lakes', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    background-color: transparent;
    border: none;
    
    text-align: center;
    display: none;
    justify-content: space-between;
    align-items: center;
    margin-left: 16px;
}

/* RESPONSIVE */
@media (min-width: 768px) {
    .brands__container {
        max-width: 1120px;
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }

    .swiper {
        max-width: 1120px;
        width: 100%;
    }

    .swiper-wrapper {
        display: grid;
        grid-template-columns: repeat(3, auto);
        grid-template-rows: repeat(2, auto);
        gap: 16px;
        width: 100%;
        max-width: 1120px;
        margin-left: 0;
        margin-right: auto;
    }

    .toggle--btn {
        display: flex;
    }

    .swiper-pagination {
        display: none;
    }

    .swiper-wrapper.hidden .swiper-slide:nth-child(n+7) {
        display: none;
        visibility: hidden;
}
}